/* GLOBAL CONFIGURATION */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --L-color-white: #FFFFFF;
    --L-color-brand-gradient: linear-gradient(180deg, #FF606D 0%, #AE46FF 49.48%, #46E9FF 100%);

    --L-color-black-dark-50: #0D0D0D;
    --L-color-black-base: #262626;
    --L-color-black-light-10: #E5EEF1;
    --L-color-black-light-20: #7D7D7D;
    --L-color-black-light-30: #A8A8A8;

    --L-color-grey-dark-40: #2C2F2F;
    --L-color-grey-dark-30: #595D5F;
    --L-color-grey-dark-20: #858C8E;
    --L-color-grey-dark-10: #B2BBBE;
    --L-color-grey-base: #DEEAED;
    --L-color-grey-light-20: #EBF2F4;
    --L-color-grey-light-30: #F2F6F8;
    --L-color-grey-light-40: #F8FBFB;

    --L-color-yellow-dark-10:#E5AC00;
    --L-color-yellow-light-30:#FFF2CC;
    --L-color-yellow-light-40:#FFF5F5;

    --L-color-green-dark-10:#32B62F;
    --L-color-green-light-30:#CDFFCC;
    --L-color-green-light-40:#FAFFFA;

    --L-color-cyan-dark-10:#38BACC;
    --L-color-cyan-base:#46E9FF;
    --L-color-cyan-light-40:#DAFBFF;

    --L-color-purple-dark-10:#8B38CC;
    --L-color-purple-base:#AE46FF;
    --L-color-purple-light-30:#DFB5FF;
    --L-color-purple-light-50:#FDFBFE;

    --L-color-red-dark-10:#F34;
    --L-color-red-light-30:#FCC;
    --L-color-red-light-40:#FFFAFA;

    --box-shadow-level-1: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    --box-shadow-button: 0px 0px 4px 0px rgba(89, 93, 95, 0.25);
}

/* CSS COLORS */
.white {
    color: #FFFFFF;
}
.brand-gradient {
    color: linear-gradient(180deg, #FF606D 0%, #AE46FF 49.48%, #46E9FF 100%);
}
.black-dark-50 {
    color: #0D0D0D;
}
.black-base {
    color: #262626;
}
.black-light-10 {
    color: #E5EEF1;
}
.black-light-20 {
    color: #7D7D7D;
}
.black-light-30 {
    color: #A8A8A8;
}
.grey-dark-40 {
    color: #2C2F2F;
}
.grey-dark-30 {
    color: #595D5F;
}
.grey-dark-20 {
    color: #858C8E;
}
.grey-dark-10 {
    color: #B2BBBE;
}
.grey-base {
    color: #DEEAED;
}
.grey-light-20 {
    color: #EBF2F4;
}
.grey-light-30 {
    color: #F2F6F8;
}
.grey-light-40 {
    color: #F8FBFB;
}
.yellow-dark-10 {
    color:#E5AC00 !important;
}
.yellow-light-30 {
    color:#FFF2CC;
}
.yellow-light-40 {
    color:#FFF5F5;
}
.green-dark-10 {
    color:#32B62F;
}
.green-light-30 {
    color:#CDFFCC;
}
.green-light-40 {
    color:#FAFFFA;
}
.cyan-dark-10 {
    color:#38BACC;
}
.cyan-base {
    color:#46E9FF;
}
.cyan-light-40 {
    color:#DAFBFF;
}
.purple-dark-10 {
    color:#8B38CC;
}
.purple-base {
    color:#AE46FF;
}
.purple-light-30 {
    color:#DFB5FF;
}
.purple-light-50 {
    color:#FDFBFE;
}
.red-dark-10 {
    color:#F34 !important;
}
.red-light-30 {
    color:#FCC;
}
.red-light-40 {
    color:#FFFAFA;
}

/* 
    PAGE STYLE
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem "Poppins", Helvetica, Arial, sans-serif;
    background-color: var(--L-color-white);
    color: var(--L-color-black-base);

    height: 100%;
}

img {
    max-width: 100%;
    width: auto;
}

button {
    border: 0;
}

/* 
    TEXT STYLE
*/
h1, h2, h3, h4, h5, h6 {
    font: 700 1rem "Poppins", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.headline1-large-semi-bold {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.headline1-large-light {
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.headline1-medium-medium {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.headline2-base-medium {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.body1-semi-bold {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.body1-medium {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.body1-regular, p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.body2-semi-bold {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.body2-medium {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.body2-regular {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.body3-semi-bold {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.body3-medium {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.body3-regular {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.body4-regular {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

/* 
    BUTTONS STYLE
*/

/* Link */
.bold-purple-link {
    font-weight: 600;
    color: var(--L-color-purple-base);
    text-decoration: none;
}

.bold-purple-link:hover {
    color: var(--L-color-purple-dark-10);
}

/* Primary Button */
.primary-small-btn,
.primary-medium-btn,
.brand-form button {
    max-width: fit-content;

    line-height: 160%;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
    background: var(--L-color-black-base);
    color: var(--L-color-white);
    text-decoration: none;

    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: none;

    border: 1px solid var(--L-color-black-base);
}

.primary-medium-btn, .brand-form button {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.primary-small-btn > img,
.primary-medium-btn > img,
.brand-form button > img  {
    max-width: 1rem;
    width: 1rem;
}

.primary-small-btn:hover,
.primary-medium-btn:hover,
.primary-small-btn.pressed,
.primary-medium-btn.pressed,
.brand-form button:hover,
.brand-form button.pressed {
    background: var(--L-color-black-dark-50);
}

.primary-small-btn:focus, .primary-small-btn:active,
.primary-medium-btn:focus, .primary-medium-btn:active,
.brand-form button:focus, .brand-form button:active {
    box-shadow: var(--box-shadow-button);
}

.primary-small-btn:disabled, .primary-small-btn.disabled,
.primary-medium-btn:disabled, .primary-medium-btn.disabled,
.brand-form button:disabled {
    background: var(--L-color-grey-dark-40);
    color: var(--L-color-grey-dark-20);
    cursor: not-allowed;
}

/* Secondary Button */
.secondary-small-btn,
.secondary-medium-btn  {
    max-width: fit-content;

    line-height: 160%;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
    background: var(--L-color-white);
    color: var(--L-color-black-base);
    text-decoration: none;

    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: none;

    border: 1px solid var(--L-color-grey-base);

}

.secondary-medium-btn {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.secondary-small-btn > img,
.secondary-medium-btn > img  {
    max-width: 1rem;
    width: 1rem;
}

.secondary-small-btn:hover,
.secondary-medium-btn:hover,
.secondary-small-btn.pressed,
.secondary-medium-btn.pressed {
    background: var(--L-color-grey-light-30);
}

.secondary-small-btn:focus, .secondary-small-btn:active,
.secondary-medium-btn:focus, .secondary-medium-btn:active {
    box-shadow: var(--box-shadow-button);
}

.secondary-small-btn:disabled, .secondary-small-btn.disabled,
.secondary-medium-btn:disabled, .secondary-medium-btn.disabled {
    background: var(--L-color-grey-light-30);
    color: var(--L-color-black-light-30);
    cursor: not-allowed;
}

/* Tertiary Button */
.tertiary-container-btn {
    max-width: fit-content;
    line-height: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1px;
    border: 0;
    border-radius: 0.25rem;
    width: auto;
    height: auto;
    background: var(--L-color-brand-gradient);

    text-decoration: none;
}

.tertiary-small-btn,
.tertiary-medium-btn  {
    max-width: fit-content;
    
    line-height: 160%;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
    background: var(--L-color-white);
    color: var(--L-color-black-base);
    text-decoration: none;

    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: none;

    border: 0;

}

.tertiary-medium-btn {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.tertiary-small-btn > img,
.tertiary-medium-btn > img  {
    max-width: 1rem;
    width: 1rem;
}

.tertiary-container-btn:hover .tertiary-small-btn,
.tertiary-container-btn:hover .tertiary-medium-btn,
.tertiary-container-btn.pressed .tertiary-small-btn,
.tertiary-container-btn.pressed .tertiary-medium-btn {
    background: var(--L-color-grey-light-30);
}

.tertiary-container-btn:focus, .tertiary-container-btn:active {
    box-shadow: var(--box-shadow-button);
}

.tertiary-container-btn:disabled, .tertiary-container-btn.disabled {
    background: var(--L-color-grey-base);
}

.tertiary-container-btn:disabled .tertiary-small-btn, .tertiary-container-btn.disabled .tertiary-small-btn,
.tertiary-container-btn:disabled .tertiary-medium-btn, .tertiary-container-btn.disabled .tertiary-medium-btn {
    background: var(--L-color-grey-light-30);
    color: var(--L-color-black-light-30);
    cursor: not-allowed;
}


/* Icon Button */
.icon-small-btn, .icon-medium-btn {
    display: inline-flex;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.25rem;
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-white);

    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: none;

    line-height: 160%;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;

    text-decoration: none;
    color: var(--L-color-black-base);
}

.icon-medium-btn {
    border: 1px solid var(--L-color-grey-base);
    padding: 0.5rem;
}

.icon-small-btn > img, .icon-medium-btn > img {
    width: 1rem;
    max-width: 1rem;
}

.icon-small-btn:hover, .icon-medium-btn:hover,
.icon-small-btn.pressed, .icon-medium-btn.pressed {
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-grey-light-30);
}

.icon-small-btn:focus, .icon-small-btn:active,
.icon-medium-btn:focus, .icon-medium-btn:active {
    box-shadow: var(--box-shadow-button);
}

.icon-small-btn:disabled, .icon-small-btn.disabled,
.icon-medium-btn:disabled, .icon-medium-btn.disabled {
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-grey-light-30);
    cursor: not-allowed;
}


.popover-container {
    position: relative;
    width: auto;
    height: auto;
    display: inline-flex;

    text-align: center;
}

.popover-message {
    position: absolute;
    top: -2rem;
    background: var(--L-color-black-base);
    color: var(--L-color-white);
    
    padding: 0.25rem;

    font-size: 0.75rem;
    font-weight: 400;
    line-height: 160%;

    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-radius: 0.25rem;

    display: none;
    width: auto;
    white-space: nowrap;

    transition: all ease 0.2s;
}

.popover-message.active{
    display: block;
}

/* Dropdown */
.dropdown-container {
    display: inline-block;
    position: relative;
}

.nav-btn {
    position: absolute;
    top: 2rem;
    border-radius: 0.25rem;
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-white);
    box-shadow: var(--box-shadow-level-1);

    width: auto;
    min-width: 120px;

    display: none;
    height: 0;
}

.nav-btn.active {
    display: block;
    height: auto;
}

.position-top-2_75 {
    top: 2.75rem;
}

.dropdown-container .pressed img {
    transform: rotate(180deg);
}

.nav-btn ul li {
    list-style: none;
    margin: 0.5rem 0;
    text-align: left;
}

.nav-btn ul li a {
    text-align: left;
    display: flex;
    padding: 0.25rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    margin: 0.5rem;

    text-decoration: none;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;

    transition: all ease 0.2s;
}

.nav-btn ul li a:hover {
    font-weight: 600;
}

.nav-btn ul li a:focus, .nav-btn ul li a:active {
    color: var(--L-color-black-base);
}

.nav-btn ul li img {
    max-width: 1rem;
    width: 1rem;
}

.delete-color, .delete-color:hover .delete-color:focus, .delete-color:active {
    color: var(--L-color-red-dark-10) !important;
}

/* 
INPUT CHECKBOX
*/
.checkbox-small, .checkbox-medium {
    display: block;
    position: relative;
    padding: 0 0 0 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 150%;
}

.checkbox-small .text-check, .checkbox-medium .text-check {
    display: inline-block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;

    margin: 0 0 0 0.5rem;
}

.checkbox-small .text-check:hover, .checkbox-medium .text-check:hover {
    font-weight: 600;
}

.checkbox-medium .text-check {
    font-size: 1rem;
    font-weight: normal;

    margin: 0.25rem 0 0 1rem;
}

.checkbox-small input, .checkbox-medium input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-small .checkmark, .checkbox-medium .checkmark {
    position: absolute;
    top: 0.25rem;
    left: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--L-color-grey-dark-30);
    background: var(--L-color-white);
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.checkbox-medium .checkmark {
    border: 3px solid var(--L-color-grey-dark-30);

    top: 0.25rem;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
}

.checkbox-small:hover input ~ .checkmark, .checkbox-medium:hover input ~ .checkmark {
    background: var(--L-color-purple-light-50);
}

.checkbox-small input:checked ~ .checkmark, .checkbox-medium input:checked ~ .checkmark {
    background: var(--L-color-purple-base);
    border-color: var(--L-color-purple-base);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-small input:checked ~ .checkmark:after, .checkbox-medium input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-small .checkmark:after, .checkbox-medium .checkmark:after {
    left: 0.24rem;
    top: 0.04rem;
    width: 0.15rem;
    height: 0.45rem;
    border: solid white;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-medium .checkmark:after {
    left: 0.3rem;
    top: 0.05rem;
    width: 0.25rem;
    height: 0.65rem;
    border-width: 0 0.2rem 0.2rem 0;
}

/*
    FORMS
*/

.search-form {
    margin: 0;
    padding: 0;
    display: inline-flex;
    position: relative;
    flex: 1;
}

.search-form input {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    padding-left: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-grey-light-40);
    
    font-size: 0.75rem;
    line-height: 100%;
}

.search-form button {
    display: inline-block;
    position: absolute;
    top: 0.45rem;
    left: 0.75rem;

    cursor: pointer;
    background: transparent;
}

.search-form button img{
    max-width: 1.25rem;
}

.brand-form {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-auto-flow: dense;
}

.brand-form .input {
    position: relative;
    text-align: left;
}

.brand-form input, .brand-form textarea, .brand-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    padding: 1.125rem 1rem 1rem 1rem;

    border: 0;
    border-bottom: 1px solid var(--L-color-grey-dark-10);
    border-radius: 0.25rem 0.25rem 0 0;
    background: var(--L-color-grey-light-40);
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.brand-form input ~ .input-name, .brand-form textarea ~ .input-name, .brand-form select ~ .input-name {
    position: absolute;
    top: 1.125rem;
    left: 1rem;
    font-size: 1rem;
    color: var(--L-color-grey-dark-20);
    padding:0;

    transition: 0.1s;
}

.brand-form textarea {
    height: 10rem;
}

.brand-form input:focus ~ .input-name,
.brand-form textarea:focus ~ .input-name,
.brand-form select:focus ~ .input-name {
    border: inherit;
}

.brand-form input:focus ~ .input-name, 
.brand-form input:valid ~ .input-name,
.brand-form textarea:focus ~ .input-name,
.brand-form textarea:valid ~ .input-name,
.brand-form select:focus ~ .input-name,
.brand-form select:valid ~ .input-name {
    transform: translateY(-0.85rem);
    color: var(--L-color-black-base);
    font-size: 0.75rem;
}

.brand-form input:focus ~ .input-name, 
.brand-form textarea:focus ~ .input-name,
.brand-form select:focus ~ .input-name {
    color: var(--L-color-purple-base);
}

.brand-form select {
    background: url("../images/icon/grey/uil_angle-down.svg") var(--L-color-grey-light-40) no-repeat;
    background-position: 99% 1rem;
}

.brand-form .required {
    color: var(--L-color-purple-base);
    font-weight: 600;
}

.brand-form .error {
    display: inline-flex;
    gap: 0.25rem;
    font-size: 0.75rem;
    line-height: 100%;
    color: var(--L-color-red-dark-10);
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    display: none;
}

.brand-form .error img {
    width: 1rem;
    max-width: 1rem;
}

.brand-form .error.active {
    display: inline-flex;
}

/* 
    MAIN NAVIGATION
*/
.main-nav {
    max-width: 300px;
    width: auto;
    height: 100%;
    min-height: 100vh;
    padding: 1.5rem;
    border-right: 1px solid var(--L-color-grey-base);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    display: block;
    margin-bottom: 2rem;
    flex-grow: 0;
}

.logo a {
    display: block;
    line-height: 0%;
}

.hamburguer-menu {
    display: none;
}

.close-menu {
    margin: 0 0 1.5rem 0;
    display: none;
}

.main-nav .logo img {
    width: 49px;
    margin-left: 0.75rem;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;

    flex-grow: 1;
}

.main-list-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;

    flex-grow: 1;

}

.main-list-nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-links {
    width: 100%;
    flex-grow: 1;
}

.main-list-nav ul li + li {
    margin-top: 0.5rem;
}

.main-list-nav ul li a, .profile-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;

    border-radius: 100px;

    text-decoration: none;
    color: var(--L-color-black-base);

    font-size: 0.875rem;
}

.profile-nav {
    width: 100%;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.profile-info img {
    width: 40px;
}

.main-list-nav ul li a:hover, .profile-nav:hover,
.main-list-nav ul li a:focus, .profile-nav:focus,
.main-list-nav ul li a:active, .profile-nav:active,
.main-list-nav ul li a.pressed, .profile-nav.pressed {
    background: var(--L-color-grey-light-30);
    font-weight: 600;
}

.main-list-nav ul li a.disabled, .profile-nav.disabled {
    background: var(--L-color-grey-light-30);
    color: var(--L-color-black-light-30);
}

.menu-popup-container {
    width: 100%;
    display: block;
    position: relative;
    flex-grow: 0;
}

.popup-container {
    background: var(--L-color-white);
    position: absolute;
    bottom: 4.125rem;
    border-radius: 0.25rem;
    border: 1px solid var(--L-color-grey-base);
    background: var(--L-color-white);
    box-shadow: var(--box-shadow-level-1);
    width: 100%;
    min-width: 180px;

    padding: 1rem;

    display: none;
}

.popup-container.active {
    display: block;
}

.popup-container li { 
    list-style: none;
    padding: 0.25rem;
}

.popup-container li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--L-color-black-base);
}

.popup-container li a:hover {
    font-weight: 600;
}


/* 
    TAGS
*/

.tag-small, .tag-medium {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.13rem 0.75rem;

    color: var(--L-color-black-base);
    background: var(--L-color-grey-light-40);
    border: 1px solid var(--L-color-grey-base);
    border-radius: 5rem;

    width: auto;
    white-space: nowrap;

    text-align: center;
}

.tag-small {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.tag-small img {
    width: 1rem;
}

.tag-medium {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.tag-medium img {
    width: 1.25rem;
}

.tag-small.success, .tag-medium.success {
    color: var(--L-color-green-dark-10);
    background: var(--L-color-green-light-40);
    border: 1px solid var(--L-color-green-light-30);
}

.tag-small.error, .tag-medium.error {
    color: var(--L-color-red-dark-10);
    background: var(--L-color-red-light-40);
    border: 1px solid var(--L-color-red-light-30);
}

.tag-small.alert, .tag-medium.alert {
    color: var(--L-color-yellow-dark-10);
    background: var(--L-color-yellow-light-40);
    border: 1px solid var(--L-color-yellow-light-30);
}

.tag-small.emphasis, .tag-medium.emphasis {
    color: var(--L-color-purple-base);
    background: var(--L-color-purple-light-50);
    border: 1px solid var(--L-color-purple-light-30);
}

/* CONTAINERS */
.display-block {
    display: block;
}

.mt-2_5 {
    margin-top: 2.5rem;
}

.mt-1_5 {
    margin-top: 1.5rem;
}

.mb-1_5 {
    margin-bottom: 1.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-0_25 {
    margin-bottom: 0.25rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}