@media (max-width: 80em) {
    .grid-2-1 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 64em) {
    /* LAYOUT */
    .main-layout {
        grid-template-columns: 1fr;
    }

    .content-area {
        padding: 1rem;
    }

    /* TALENT LIST */
    .talent-list-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 40em) {
    
    .talent-list-cards {
        grid-template-columns: 1fr;
    }

    .feed-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        text-decoration: none;
        color: var(--L-color-black-base);
    
        border-radius: 0.25rem;
    
        padding: 1rem 0.5rem;
    }

}
